@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400|Mali');
/* font-family: 'Mali', cursive; */
/* font-family: 'Lato', cursive; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Lato', cursive;
    font-weight: 100;
    text-align: center;
    background: linear-gradient(35deg, #585757 0%, #413d3d 100%);
    /* color: aliceblue; */
    height: 100vh;
    width: 100vw;
}

h1, h2 {
    font-weight: 300;
    font-size: 4rem;
}

h1#app-title {
    font-family: "Lato", sans-serif;
    letter-spacing: 1.5vw;
    font-weight: 100;
    color: #f8733e;
}
.app-wrapper {
    height: 100%;
    width: 100%;
    /* color: rgba(255, 255, 255, 0.5); */
}

